<nav class="navbar navbar-light bg-light">
  <div class="container-fluid ">
    <div class="">
      <a class="navbar-brand">
        @if(modo === "Home"){
          <img src="logos/LogoReserva.png" class="logoHome" alt="">
        }
        @if(modo === "MiProfile"){
          <img src="logos/LogoMiPerfil2.png" class="logoHome" alt="">
        } 
      </a>
    </div>
    <div class="gap-5 d-flex">
      <a class="link" (click)="cambiarModo('Home')" routerLink="/" [ngClass]="modo=== 'Home' ? 'text-primary' : 'text-secondary'" >INICIO</a>
      <a class="link" (click)="cambiarModo('MiProfile')" routerLink="/MiPerfil" [ngClass]="modo=== 'MiProfile' ? 'text-primary' : 'text-secondary'">MI PERFIL</a>
    </div> 
    <div>
      <img src="" alt="FotoPerfil">
      Nombre Usuario
    </div>
  
  </div>
</nav>
