<div class="conteiner bg-white rounded-4 pb-4 ps-4 pe-4 pt-4 d-flex flex-row flex-xxl-column flex-wrap gap-3 align-items-end align-items-xxl-stretch">
    
    <div class="w-100 mb-2">
        <span class="text-primary fs-5 fw-bold ">FILTROS</span>
    </div>

    <div class="d-flex flex-column gap-2 flex-grow-1 w-xxl-100">
        <div>
            <label for="empleado" class="fw-bold">Barbero</label>
        </div>
        <div>
            <select id="empleado" class="form-select p-2" name="barbero" [(ngModel)]="localFiltros.empleado"  (change)="cambio()">
                <option [ngValue]="null">Todos los barberos</option>
                @for (barbero of barberos(); track barbero.id) { <option [ngValue]="barbero.id">{{ barbero.nombre }}</option> }
            </select>
        </div>
    </div>

    <div class="d-flex flex-column gap-2 flex-grow-1 w-xxl-100">
        <div>
            <label for="servicio" class="fw-bold">Servicio</label>
        </div>
        <div>
            <select id="servicio" class="form-select p-2" name="especialidad" [(ngModel)]="localFiltros.servicio" (change)="cambio()">
                <option [ngValue]="null">Todos los Servicios</option>
                @for (servicio of servicios(); track servicio.idServicio) { <option [ngValue]="servicio.idServicio">{{ servicio.nombre }}</option> }
            </select>
        </div>
    </div>

    <div class="d-flex flex-column gap-2 flex-grow-1 w-xxl-100">
        <div>
            <label for="estado" class="fw-bold">Estados</label>
        </div>
        <div>
            <select id="estado" class="form-select p-2" name="estado" [(ngModel)]="localFiltros.estado" (change)="cambio()">
                <option [ngValue]="null">Todos los Estados</option>
                @for (estado of estados; track estado.nombre) { <option [ngValue]="estado.nombre">{{ estado.nombre }}</option> }
            </select>
        </div>
    </div>

    <div class="d-flex flex-column gap-2 flex-grow-1 w-xxl-100">
        <div>
            <label for="fechaDesde" class="fw-bold">Fecha Desde</label>
        </div>
        <div>
            <input type="date" id="fechaDesde" class="form-control p-2" [(ngModel)]="localFiltros.fechaDesde">
        </div>
    </div>

    <div class="d-flex flex-column gap-2 flex-grow-1 w-xxl-100">
        <div>
            <label for="fechaHasta" class="fw-bold">Fecha Hasta</label>
        </div>
        <div>
            <input type="date" id="fechaHasta" class="form-control p-2" [(ngModel)]="localFiltros.fechaHasta">
        </div>
    </div>
    
    <div class="d-flex flex-row gap-2 flex-grow-1 w-xxl-100 mt-xxl-3">
        <div class="flex-grow-1">
            <button class="btn bg-dark rounded-2 text-white col-12 fw-bold pt-2 pb-2 text-nowrap btn-hover-grow" (click)="filtrar()">
                <i class="bi bi-funnel"></i> Filtrar
            </button>
        </div>
        <div class="flex-grow-1">
            <button class="btn bg-white border border-danger rounded-2 text-danger col-12 fw-bold pt-2 pb-2 text-nowrap btn-hover-grow" (click)="limpiar()">
                <i class="bi bi-arrow-clockwise"></i> Limpiar
            </button>
        </div>
    </div>
</div>