<div class="container mt-3  ">

    <div class="row ">
        <div class="col-8   p-4">
            <div class="d-flex justify-content-end mb-3">
                <button class="btn btn-outline-secondary btn-sm" type="button" (click)="resetPantalla()">
                    Limpiar selección
                </button>
            </div>
            <div class="opciones mb-4">
                <app-calendario [reset]="reset" (diaSeleccionadoChange)="onDia($event)" ></app-calendario>
            </div>
             @if (hasOpenedServicio) {
                <div class="opciones mb-4 " [class.disabled-step]="pasoActivo === 'dia'">
                    <app-servicios-disponibles [dia]="diaSeleccionado" [reset]="reset" (ServicioSeleccionadoChange)="onServicio($event)"></app-servicios-disponibles>
                </div> 
             }  
             @if (hasOpenedEmpleado) {
                <div class="opciones mb-4" [class.disabled-step]="pasoActivo !== 'empleado' && pasoActivo !== 'horario'">   
                    <app-empleado-disponibles [dia]="diaSeleccionado" [servicio]="ServicioSeleccionado" [reset]="reset" (EmpleadoSeleccionadoChange)="onEmpleado($event)"></app-empleado-disponibles>
                </div>
            }
            @if (hasOpenedHorario) {
                <div class="opciones mb-4" [class.disabled-step]="pasoActivo !== 'horario'">
                    <app-horario-disponibles [dia]="diaSeleccionado" [servicio]="ServicioSeleccionado" [reset]="reset" [empleado]="EmpleadoSeleccionado" (HorarioSeleccionadoChange)="onHorario($event)" ></app-horario-disponibles>
                </div>
            }
        </div>
        <div class="col-4 ">
            <div class="resumen">
                <app-resumen-reserva [dia]="diaSeleccionado" [servicio]="ServicioSeleccionado"  [empleado]="EmpleadoSeleccionado" [horario]="horarioSeleccionado" (reservaCreada)="resetPantalla()" ></app-resumen-reserva>
            </div>
        </div>
    </div>

</div>
