<header class="page-hero container-fluid d-flex justify-content-between p-5 rounded-4 ">
        <div class="text-white d-flex flex-column justify-content-center gap-1">
            <span class="text-primary fw-bold fs-5">PANEL ADMINISTRATIVO</span>
            <h1 class="fw-bold display-4">Gestión de reservas</h1>
            <p class="text-white-50 fs-6">Administrá las reservas de la barbería: filtralas y cambia estados.</p>
        </div>

        <div class="card d-flex align-items-center justify-content-center p-4 bg-transparent opacity-100 border-soft text-white rounded-4">
            <strong class="fs-1 fw-bold">{{ 5 }}</strong>
            <span class="fs-4">Reservas Totales</span>
        </div>
</header>
