
<form class="needs-validation" [formGroup]="formLogin" (ngSubmit)="login()" >
    <div class="mb-3">
        <label for="email" class="form-label">Email o Ci</label>
        <div class="input-group ">
            <span class="input-group-text">
                <i class="bi bi-person"></i>
            </span>
            <input type="email" class="form-control " formControlName="ci" id="emailOrCi" [class.is-invalid]="campoInvalido('ci') "> 
            @if(obtenerErrorCi()){
                <div class="invalid-feedback">
                    {{obtenerErrorCi()}}
                </div>
            }
        </div>
    </div>
    <div class="mb-3">
        <label for="pass" class="form-label">Contraseña</label>
        <div class="input-group">
            <span class="input-group-text">
                <i class="bi bi-lock"></i>
            </span>
            <input type="password" class="form-control" formControlName="contraseña" id="pass" [class.is-invalid]="campoInvalido('contraseña') ">
            <div class="invalid-feedback">
                El campo no puede ser vacio.
            </div>
        </div>
    </div>
    @if(mensajeError){
        <div class="alert alert-warning" role="alert">
            {{mensajeError}}
        </div>
    }
    <button type="submit" class="btn btn-primary w-100">Iniciar Sesion</button>
</form>
