
<form class="">
    <label for="exampleInputEmail1" class="form-label">Email o Ci</label>
    <div class="mb-3 input-group ">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
        </div>
        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"> 
    </div>

    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
    <div class="mb-3 input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-lock"></i></span>
        </div>
        <input type="password" class="form-control" name="pass" id="pass">
    </div>
    
    <button type="submit" class="btn btn-primary w-100">Submit</button>
</form>
